.link{
    color: #141414;
    text-decoration: none;
    font-size: 1.1rem;
}

.link:hover{
    color: #ffcd00;
}

.link__active{
    color: #5a72b6;
    font-size: 1.2rem;
}

.link__active:hover{
    color: #ffcd00;
}